

                    <div (mouseleave)="leave();" (mouseenter)="hover();" class="dropdown"  >
                        <a class="nav-link dropdown-toggle" routerLink="/home" aria-expanded="false" aria-controls="collapseExample">
                            {{title}}
                        </a>
                        <div  *ngIf="is" class="pos" @show >
                            <div class="card card-block " >
                                <a *ngFor="let c of categories" class="dropdown-item text-left p-3" routerLink="/{{link}}" style="color: black;" href="#">{{c}}</a>
                               
                            </div>
                         
                     
                        </div>
                        
                    
                    </div>
           

