.parent {
    position: relative;
    width: 100%;
    height: 100%
}

.child {
    display: none;
    height: 100%;
    width:100%;

    opacity: 0.7;
  
    position: absolute; top: 0px; left: 0px; 
}

.parent:hover .child {
    display: block;
}