<div   class="card parent " >
    <img class="card-img-top w-100"  src="/image/tomCangXanh.jpg" alt="Card image cap">
    <div class="card-body text-center" style="background-color:beige">
        <h5 style=" margin-top:30px;" class="card-title">{{product.title}}</h5>
        <div style=" font-size:20px;" class="card-text">*****</div>
        <div style=" font-size:20px;" class="card-text">{{product.price}}</div>
    </div>
    <div class="card child ">
<!--        <button (click)="click();">hahaha</button>-->
    </div>
    
</div>
