


<!--<slide-image></slide-image>-->

<!-- items being paged -->






<div name="begin" class="card text-center" style="height: 45px;">
    <button class="btn btn-success" (click)="openModal(createProduct)">Thêm sản phẩm</button>
    <ng-template #createProduct>
        <div class="rounded" id="alert-create">
            <button type="button" class="close float-right pt-2 mr-2 " aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>


            <admin-create-product  ></admin-create-product>

        </div>
    </ng-template>
</div>

<div class="col card">
    <div class="row">
        <ng-container *ngFor="let p of pagedItems ; let i=index">
            <div class="col-4 mt-5">
                <admin-card  [product]="p"></admin-card>
            </div>
            <div *ngIf="(i+1)%3===0" class="w-100"></div>
        </ng-container>


    </div>
    <!-- pager -->

</div>


<ul *ngIf="pager.pages && pager.pages.length" class="pagination mt-5 mr-4 float-right h-100 ">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>


