 <div style="background-color: rgb(106, 170, 109); height: 200px; width: 100%; margin-top: 50px; display: inline-block">
    <img style="float: left;height: 180px;margin: 10px" src="/icon/user.png" />
    <div style="float: left;  width: 25%; margin:20px ;">
        <b>   Có thể bạn cần đến.</b>
        <br />
        <br />

        <a style="padding: 10px; background-color: beige">Thịt bò</a>
        <a style="padding: 10px; background-color: beige">Trứng</a>
        <a style="padding: 10px; background-color: beige">Cá biển</a>

        <br />
        <br />
        <br />
        <a style="padding: 10px; background-color: beige">Thịt heo</a>
        <a style="padding: 10px; background-color: beige">Thịt</a>
        <a style="padding: 10px; background-color: beige">Cá nước ngọt</a>
    </div>
    <div style="float: left;  width: 25%; margin: 20px;">
        <b>   Giờ mở cửa</b>
        <br />
        <br />
        <p>Từ thứ hai-sáu , từ 9h sáng tới 7h tối </p>
        <p>Thứ bảy từ 10h sáng tới 5h tối</p>
        <p>Chủ nhật nghỉ</p>
    </div>
    <div style="float: left;  width: 20%; margin: 20px;">
        <b>   Liên hệ</b>
        <br />
        <br />
        <p>Gmail : toilahoi007@gmail.com </p>
        <p>Điên thoại : 01665240627</p>
        <p>Địa chỉ :123 Trần Quang Khải Q.1 TP.HCM</p>
    </div>

</div>
<div style="text-align: center;" class="card">
    Coppyright @ 2017 CuaHangRauSachHaiLua
</div>