

<div class="container-child  " >

   


    <div >
        <div  class="text-danger text-center"><small>*Tên đăng nhập hoặc mật khẩu không đúng*</small></div>
        <div class=" pt-3 pr-5 pl-5">
            <form #f="ngForm">
                <div class="row">
                    <div class="form-group col-6 ">
                        <label for="FirstName">Họ</label>
                        <div class="input-group">

                            <input 
                                #FirstName="ngModel" 
                                [(ngModel)]="firstName"
                                type="text"
                                id="FirstName" 
                                name="FirstName" 
                                class="form-control" 
                                   required
                                [ngClass]="{'card-outline-danger': FirstName.errors?.required && (FirstName.touched ||f.submitted)}">
                      
                        </div>
                        <div class="alert alert-danger" *ngIf="(FirstName.touched || f.submitted)&& FirstName.errors?.required"> *Bắt buộc* </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="LastName">Tên</label>
                        <div class="input-group">

                            <input #LastName="ngModel"
                                   [(ngModel)]="lastName"
                                   type="text" id="LastName"
                                   name="LastName" 
                                   class="form-control" 
                                   required
                                   [ngClass]="{'card-outline-danger': LastName.errors?.required && ( LastName.touched || f.submitted)}">
                      
                        </div>
                        <div class="alert alert-danger" *ngIf=" ( LastName.touched || f.submitted) && LastName.errors?.required"> *Bắt buộc* </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <div class="input-group">
                        <input #Password="ngModel"
                               [(ngModel)]="password"
                               type="password" 
                               id="Password" 
                               name="Password" 
                               class="form-control" 
                               required 
                               minlength="8"
                               [ngClass]="{'card-outline-danger': Password.errors?.required && ( Password.touched || f.submitted)}">

                    </div>
                    <div class="alert alert-danger" *ngIf="( Password.touched || f.submitted ) && Password.errors?.required"> *Bắt buộc* </div>
                    <div class="alert alert-danger" *ngIf="Password.touched && Password.errors?.minlength"> *Mật khẩu phải có it nhất 8 kí tự* </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Xác nhận mật khẩu</label>
                    <div class="input-group">

                        <input #ConfirmPassword="ngModel" 
                               [(ngModel)]="confirmPassword" 
                               type="password" 
                               id="ConfirmPassword"
                               name="ConfirmPassword"
                               class="form-control"
                               required
                               validateEqual="Password"
                               minlength="8"
                               [ngClass]="{'card-outline-danger': ConfirmPassword.errors?.required && ( ConfirmPassword.touched || f.submitted)}">

                    </div>
                    <div class="alert alert-danger" *ngIf=" ( ConfirmPassword.touched || f.submitted ) && ConfirmPassword.errors?.required"> *Bắt buộc* </div>
                    <div class="alert alert-danger" *ngIf=" ConfirmPassword.touched && ConfirmPassword.errors?.minlength"> *Mật khẩu phải có it nhất 8 kí tự* </div>
                    <div class="alert alert-danger" *ngIf=" ConfirmPassword.touched && ConfirmPassword.errors?.validateEqual"> *Mật khẩu không trùng khớp* </div>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <div class="input-group">
                        <input #Email="ngModel" 
                               [(ngModel)]="email" 
                               type="text" 
                               id="Email" 
                               name="Email" 
                               class="form-control" 
                               required 
                               email 
                               [ngClass]="{'card-outline-danger': Email.errors?.required && ( Email.touched || f.submitted)}">
                    
                    </div>
                    <div class="alert alert-danger" *ngIf="(Email.touched || f.submitted) && Email.errors?.required"> *Bắt buộc* </div>
                    <div class="alert alert-danger" *ngIf="Email.errors?.email && Email.touched"> *Không đúng dạng email! Mời kiểm tra lại* </div>
                </div>
                <div class="form-group">
                    <label for="Telephone">Số điện thoại</label>
                    <div class="input-group">
                        <input #Telephone="ngModel" 
                               [(ngModel)]="telephone" 
                               type="text" 
                               id="Telephone" 
                               name="Telephone"
                               class="form-control" 
                               required 
                               [ngClass]="{'card-outline-danger': Telephone.errors?.required && ( Telephone.touched || f.submitted)}">
                    </div>
                    <div class="alert alert-danger" *ngIf=" (Telephone.touched || f.submitted) && Telephone.errors?.required"> *Bắt buộc* </div>
                </div>
                <div >Địa chỉ:</div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="Ward">Phường/Xã</label>
                        <div class="input-group">
                            <input #Ward="ngModel" 
                                   [(ngModel)]="ward"
                                   type="text" 
                                   id="Ward" 
                                   name="Ward" 
                                   class="form-control"
                                   required 
                                   [ngClass]="{'card-outline-danger': Ward.errors?.required && ( Ward.touched ||f.submitted)}">
                    
                        </div>
                        <div class="alert alert-danger" *ngIf=" (Ward.touched || f.submitted ) && Ward.errors?.required"> *Bắt buộc* </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="District">Quận/Huyện</label>
                        <div class="input-group">
                            <input #District="ngModel" 
                                   [(ngModel)]="district" 
                                   type="text" 
                                   id="District" 
                                   
                                   name="District" 
                                   class="form-control" 
                                   required 
                                   [ngClass]="{'card-outline-danger': District.errors?.required && ( District.touched || f.submitted)}">
                    
                        </div>
                        <div class="alert alert-danger" *ngIf="( District.touched || f.submitted) && District.errors?.required"> *Bắt buộc* </div>
                    </div>
                </div>
                <div class="text-center">  <button class="btn btn-info col-6 " on-click="register(f);">Đăng Ký</button></div>
                <div class="d-inline-block w-100 mt-2 mb-2" >
                    <div class="float-left   mt-3" style="height: 1px; width: 100px;background-color: slategrey"></div>
                    <div class="text-center float-left w-50 "><small> Hoặc</small> </div>
                    <div class="float-right   mt-3" style="height: 1px; width: 100px;background-color: slategrey"></div>
                </div>
                <div class="text-center mt-1"> <button class="btn btn-success col-6" (click)="click(f)" >Facebook</button></div>  
                <div class="text-center mt-1 mb-2"><button class="btn btn-warning col-6">Google</button></div>  
            </form>
        </div>
    </div>
</div>





