
<div class="card">
    <img src="/icon/background/2.jpg" class="w-100" alt="background"/>
    <div class=""style="color: whitesmoke; position: absolute; top: 30%; right: 35%;">
        <div class="text-center">
            <h2>HAI LÚA</h2>
            <p>Chuyên cung cấp các loại sản phẩm sạch tin cậy.</p>
        </div>
    </div>
   
</div>
<div  class="card w-100" >
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th  >Tên sản phẩm</th>
            <th  class="text-center" >Số lượng</th>
            <th  class="text-center">Giá</th>
            <th  class="text-center">Tổng cộng</th>
            <th  class="text-center">Xóa</th>
        </tr>
        </thead>
        <tbody>
           
                <tr *ngFor="let cart of carts |fill:-1:a ; let i=index">
                    <th scope="row">{{i}}</th>
                    <td>
                        <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/product/{{cart.product.images[0].fileName}}"/>
                        {{cart.product.name}}
                    </td>
                    <td > {{cart.quantity}} <span class="ml-1">{{cart.product.sku}}</span></td>
                    <td>{{cart.product.price}}<sup>đ</sup></td>
                
                <td>{{cart.product.price*cart.quantity}}<sup>đ</sup></td>
                <td><button class="btn btn-outline-success" (click)="deleteItemCart(cart)">Xóa</button></td>
                </tr>
       
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <td colspan="3">
              
            </td>
            <td>Tổng cộng</td>
            <td>
                {{totalPrice}}<sup>đ</sup>
            </td>
        </tr>
       
            

        <tr>
            <th></th>
            <td colspan="3">

            </td>
            <td >
                <a class="text-success  w-100  " routerLink="/home"><h3>Tiếp tục mua hàng</h3></a>
            </td>
            <td>
                <button class="btn-warning  p-2 w-100" routerLink="/order" [disabled]="!carts.length">Thanh toán</button>
            </td>
        </tr>
        </tfoot>
    </table>
    
    
</div>
