tbody tr td  {
    padding: 25px;
    text-align: center;
}
tbody tr :nth-child(2) {
    padding: 10px;
    text-align: left;
}


tfoot tr td {
    padding: 25px;
    text-align: center;
    font-weight: bold
} 


 

