
<div class="card">
    <img src="/icon/background/2.jpg" class="w-100" alt="background"/>
    <div class=""style="color: whitesmoke; position: absolute; top: 30%; right: 35%;">
        <div class="text-center">
            <h2>HAI LÚA</h2>
            <p>Chuyên cung cấp các loại sản phẩm sạch tin cậy.</p>
        </div>
    </div>
   
</div>
<div  class="card w-100" >
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th  >Tên sản phẩm</th>
            <th  class="text-center" >Số lượng</th>
            <th  class="text-center">Giá</th>
            <th  class="text-center">Tổng cộng</th>
            <th  class="text-center">Xóa</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left">
                    <img class="rounded-circle mr-2" style="width: 70px; height: 70px;" src="/image/xanh3.jpg" />
                    Rau xalad
                </td>
                <td> 1</td>
                <td >100.000 <sup>đ</sup></td>
                <td>100.000 <sup>đ</sup></td>
                <td><button class="btn btn-outline-success">Xóa</button></td>
            </tr>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">
                <img class="rounded-circle mr-2" style="width: 70px; height: 70px;" src="/image/xanh3.jpg" />
                Rau xalad
            </td>
            <td> 1</td>
            <td >100.000 <sup>đ</sup></td>
            <td>100.000 <sup>đ</sup></td>
            <td><button class="btn btn-outline-success">Xóa</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">
                <img class="rounded-circle mr-2" style="width: 70px; height: 70px;" src="/image/xanh3.jpg" />
                Rau xalad
            </td>
            <td> 1</td>
            <td >100.000 <sup>đ</sup></td>
            <td>100.000 <sup>đ</sup></td>
            <td><button class="btn btn-outline-success">Xóa</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">
                <img class="rounded-circle mr-2" style="width: 70px; height: 70px;" src="/image/xanh3.jpg" />
                Rau xalad
            </td>
            <td> 1</td>
            <td >100.000 <sup>đ</sup></td>
            <td>100.000 <sup>đ</sup></td>
            <td><button class="btn btn-outline-success">Xóa</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">
                <img class="rounded-circle mr-2" style="width: 70px; height: 70px;" src="/image/xanh3.jpg" />
                Rau xalad
            </td>
            <td> 1</td>
            <td >100.000 <sup>đ</sup></td>
            <td>100.000 <sup>đ</sup></td>
            <td><button class="btn btn-outline-success">Xóa</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <td colspan="3">
              
            </td>
            <td>Tổng cộng</td>
            <td>
                100000<sup>đ</sup>
            </td>
        </tr>
       
            

        <tr>
            <th></th>
            <td colspan="3">

            </td>
            <td >
                <a class="text-success  w-100  " routerLink="/home"><h3>Tiếp tục mua hàng</h3></a>
            </td>
            <td>
                <button class="btn-warning  p-2 w-100" routerLink="/order">Thanh toán</button>
            </td>
        </tr>
        </tfoot>
    </table>
    
    
</div>
