tbody tr td  {
    padding: 15px;
    text-align: center;
}



tfoot tr td {
    padding: 20px;
    text-align: center;
    font-weight: bold
}

.firstUpperCase {
    text-transform: capitalize;
}
 

