


<body>


    <div class="background">
        <span>
            <span>Đặt hàng qua số điện thoại | </span>
            <span class="green"><a>01665240627</a> </span>
        </span>
        <div class="language">
            <span>Tiếng việt</span>
            <span>Trợ giúp?</span>
        </div>
    </div>
    <div>



        <div class="search">
            <ul>
                <li><a> <img class="cart  " src="/icon/cart.PNG" alt="Girl" /></a></li>
                <li> <a>  <input type="text" placeholder="Search" /></a> </li>

                <li class="float-right" style="margin-right: 50px;">
                    <a class="text-success" (click)="openShoppingCart();" routerLink="/shopping-cart"   >
                        <div>
                            <span class="quantity badge badge-pill badge-success">10</span>
                            <img class="cart  " src="/icon/cart.PNG" alt="Cart" />

                            <div style="float: right">

                                <div>Đơn hàng</div>
                                <div class="pt-1">100.000 đồng</div>
                            </div>
                        </div>
                        <div class="display ">
                            <div [class.notShow]="isShow">
                                <cart></cart>
                            </div>

                        </div>
                    </a>
                </li>
                <li class="float-right mr-4">
                    <div class="dropdown">
                        <a class="text-success"  id="dropdownMenuButton" routerLink="/home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div>
                                <img class="cart" src="/image/user.png" alt="User " />
                                <div class="float-right " style="padding: 10px;">
                                    <div style="margin-top: -10px;">Xin Chào!</div>
                                    <div  class="mt-1">{{userName}}</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu pos " id="menuLogin">
                            <div  class="card">
                                <div *ngIf="!logged">
                                    <a class="dropdown-item" (click)="openModal(login)">Đăng nhập</a>
                                    <ng-template #login>
                                        <div class="modal-header" style="background-color: rgb(245,245,245) ">
                                            <div class="text-center w-100">   <h4 class="  text-success mt-3" style="font-family: ravie">HAI LÚA</h4></div>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <login (onclick)="exitLogin($event)" ></login>
                                     
                                    </ng-template>
                                    <a class="dropdown-item" (click)="openModal(register)">Đăng kí</a>
                                    <ng-template #register>
                                        <div class="modal-header" style="background-color: rgb(245,245,245) ">
                                            <div class="text-center w-100">   <h4 class="  text-success mt-3" style="font-family: ravie">HAI LÚA</h4></div>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <register (onclick)="exitLogin($event)"></register>
                                    </ng-template>
                                </div>
                                <div *ngIf="logged">
                                    <a class="dropdown-item">Giỏ hàng của tôi</a>
                                    <a class="dropdown-item">Đăng Xuất</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>


    <div class="nav">
        <ul>
            <li><a (click)="closeShoppingCart();" routerLink="/home" >Trang chủ</a></li>
            <li>
                <item-menu [title]="'Thịt và Trứng'" [categories]="meet">

                </item-menu>
            </li>



            <li>
                <item-menu [title]="'Thủy Hải Sản'" [categories]="seaFood">

                </item-menu>
            </li>
            <li><a routerLink="/home">Về chúng tôi</a></li>
            <li><a routerLink="/home">Liên hệ</a></li>
            <li class="float-right"><a routerLink="/home"><img style="height: 20px;" src="/image/fb.png" alt="facebook icon" /></a></li>
            <li class="float-right"><a routerLink="/home"><img style="height: 20px;" src="/image/fb.png" alt="facebook icon" /></a></li>
            <li class="float-right"><a routerLink="/home"><img style="height: 20px;" src="/image/fb.png" alt="facebook icon" /></a></li>
        </ul>
    </div>

</body>

