
<div name="begin" class="card text-center" style="height: 45px;">
    <button class="btn btn-success" (click)="openModal(createSupplier)">Thêm Nhà Cung Cấp</button>
    <ng-template #createSupplier>
        <div class="rounded" id="alert-create">
            <button type="button" class="close float-right pt-2 mr-2 " aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <admin-create-supplier (onclick)="exitDetail($event)"></admin-create-supplier>
        </div>
    </ng-template>
</div>

<div class="col card">
    <div class="row">
        <ng-container *ngFor="let s of suppliers ; let i=index">
            <div class="col-4 mt-5 card" (click)="openModal(editSupplier)">
                <h3>{{s.name}}</h3>
                <p>{{s.description}}</p>
            </div>
            <div *ngIf="(i+1)%3===0" class="w-100"></div>
            <ng-template #editSupplier>
                <div class="rounded" id="alert-create">
                    <button type="button" class="close float-right pt-2 mr-2 " aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <admin-edit-supplier (onclick)="exitDetail($event)" [supplier]="s"></admin-edit-supplier>

                </div>
            </ng-template>
        </ng-container>


    </div>
    <!-- pager -->

</div>