<div   class="card parent " (mouseenter)="hovering()" (mouseleave)="leaving()"  (click)="openModal(detailproduct)" >
   <div >
    <img class="card-img-top w-100 " style="height: 250px;"  src="/images/{{product.images[0].fileName}}" alt="Card image cap">
       <div class="card-body text-center" style="background-color:beige">
           <h3  class="card-title mt-2">{{product.name}}</h3>
           <h3 class="card-text">*****</h3>
           <h4 class="card-text pb-3">{{product.price}}</h4>
       </div>
   </div>
    <div *ngIf="isHover" class="card child ">
        
    </div>
    <button   *ngIf="isHover" @translate class="btn  btnAddCart "  >Tùy chọn sản phầm</button>
    <div @translateBottom *ngIf="isHover" class=" text-center  bagDetail" >
        <h3  class="card-title mt-2">{{product.name}}</h3>
        <h3 class="card-text">*****</h3>
        <h4 class="card-text pb-3">{{product.price}}</h4>
    </div>
   
</div>

<ng-template #detailproduct>
    <div class="rounded" id="alert-detail">
        <button type="button" class="close float-right pt-2 mr-2 " aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>


        <admin-edit-product (onclick)="exitDetail($event)" [product]="product"></admin-edit-product>

    </div>
</ng-template>
