

<div  style="width:500px;"   class="card " >
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th  class="text-center" >Tên sản phẩm</th>
            <th  class="text-center" >Số lượng</th>
            <th  class="text-center">Giá</th>
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cart of carts |fill:-1:a-1 ; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/product/{{cart.product.images[0].fileName}}"/>
                {{cart.product.name}}
            </td>
            <td > {{cart.quantity}} <span class="ml-1">{{cart.product.sku}}</span></td>
            <td>{{cart.product.price*cart.quantity}}<sup>đ</sup></td>
        </tr>
      
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <td colspan="2">
                <div class="text-center w-100">   <a class="text-success h2 " routerLink="/shopping-cart">Xem giỏ hàng</a></div>
            </td>
            <td>
                <button class="btn-warning  p-2 w-100" routerLink="/order" >Thanh toán</button>
            </td>
        </tr>
        </tfoot>
    </table>
    
    
</div>
