

<div style="width:500px;"   class="card " >
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th  class="text-center" >Tên sản phẩm</th>
            <th  class="text-center" >Số lượng</th>
            <th  class="text-center">Giá</th>
          
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img class="rounded-circle " style="width: 50px; height: 50px;" src="/image/xanh3.jpg"/>
                Rau xalad
            </td>
            <td > 1</td>
            <td   >100.000</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <td colspan="2">
                <a class="text-success h2">Xem giỏ hàng</a>
            </td>
            <td>
                <button class="btn-warning  p-2 w-100">Thanh toán</button>
            </td>
        </tr>
        </tfoot>
    </table>
    
    
</div>
