  <carousel style="height: 1000px; background-color: aqua">
      <slide>
         
          <img @show src="/icon/raulang.jpg" alt="First slide" style="display: block; width: 1200px; height: 580px;">
          <div class="carousel-caption d-none d-md-block">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
      </slide>
    <slide>
        <img @slide src="/icon/xanh1.jpg" alt="Second slide" style="display: block; width: 1200px; height: 580px;">
        <div  class="carousel-caption d-none d-md-block ">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </slide>
    <slide>
        <img src="/icon/xanh3.jpg" alt="Third slide" style="display: block; width: 1200px; height: 580px;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </slide>
</carousel>